:root {
  --martaBlue: #0193cf;
  --martaGold: #fcb117;
  --martaOrange: #f37521;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

body{
  font-family: 'Roboto', sans-serif;
}

h1{
  font-family: 'Vampiro One', cursive;
}
/* begin navbar */
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

.nav-links{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  font-size: 1.25em;
}

.nav-links a{
  text-decoration: none;
  color: #fff;
  transition: var(--mainTransition);
}

.blue a:hover{
  color: var(--martaBlue);
  text-shadow: 0 0 5px rgb(50, 50, 50);
}

.gold a:hover{
  color: var(--martaGold);
  text-shadow: 0 0 5px rgb(50, 50, 50);
}

.orange a:hover{
  color: var(--martaOrange);
  text-shadow: 0 0 5px rgb(50, 50, 50);
}
/* end navbar */
/* home */
.pic-info {
  position: absolute;
  top: 80vh;
  left: 5vh;
}

.pic-info h1{
  color: #fff;
  font-size: 50px;
  margin-bottom: 0%;
  text-shadow: 2px 2px 4px #000000;
}

.pic-info h3{
  color: #fff;
  margin-top: 0%;
  text-shadow: 2px 2px 4px #000000;
}
/* end home */
/* error */
.error {
  background-image: url("./images/404.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
/* end error */