:root {
  --martaBlue: #0193cf;
  --martaGold: #fcb117;
  --martaOrange: #f37521;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

body{
  font-family: 'Roboto', sans-serif !important ; 
}

h1{
  font-family: 'Vampiro One', cursive !important ;
}

h3{
  font-family: 'Roboto', cursive !important ;
}

/* begin navbar */
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

.nav-links{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  font-size: 1.25em;
}

.nav-links a{
  text-decoration: none;
  color: #fff;
  transition: var(--mainTransition);
}

.blue a:hover{
  color: var(--martaBlue);
  text-shadow: 0 0 5px rgb(50, 50, 50);
}

.gold a:hover{
  color: var(--martaGold);
  text-shadow: 0 0 5px rgb(50, 50, 50);
}

.orange a:hover{
  color: var(--martaOrange);
  text-shadow: 0 0 5px rgb(50, 50, 50);
}
.profile-nav{
  -webkit-animation: colorchange 5s infinite;
  animation: colorchange 5s infinite;
}
@keyframes colorchange {
  0%{
    color: var(--martaBlue);
  }
  25%{
    color: var(--martaGold);
  }
  50%{
    color: var(--martaOrange);
  }
  75%{
    color: var(--martaGold);
  }
  100%{
    color: var(--martaBlue);
  }
}
@-webkit-keyframes colorchange {
  0%{
    color: var(--martaBlue);
  }
  25%{
    color: var(--martaGold);
  }
  50%{
    color: var(--martaOrange);
  }
  75%{
    color: var(--martaGold);
  }
  100%{
    color: var(--martaBlue);
  }
}
/* end navbar */
/* home */
.pic-info {
  position: absolute;
  top: 80vh;
  left: 5vh;
}

.pic-info h1{
  color: #fff;
  font-size: 50px;
  margin-bottom: 0%;
  text-shadow: 2px 2px 4px #000000;
}

.pic-info h3{
  color: #fff;
  margin-top: 0%;
  text-shadow: 2px 2px 4px #000000;
}
/* end home */
/* error */
.error {
  background-image: url("./images/404.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
/* end error */
/* schedule */
.schedule{
  margin-top: 10vh;
}
/* end schedule */
/* stations */
.stations{
  margin-top: 10vh;
}
/* end stations */
/* single station */
.single-station{
  margin-top: 10vh;
}
/* end single station */
/* all pics */
.pic {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}
.pic:hover {
  box-shadow: var(--darkShadow);
}
.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  height: 12rem;
  display: block;
  transition: var(--mainTransition);
}
.all-pics{
  margin-top: 10vh;
}
.picslist {
  padding: 5rem 0;
}
.picslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
  .picslist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .picslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end all pics */
/* single pic */
.single-pic{
  margin-top: 10vh;
}
/* end single pic */
/* log in */
.log-in{
  margin-top: 10vh;
}
/* end log in */
/* sign up */
/* end sign up */
/* profile */
.profile{
  margin-top: 10vh;
}
.header{
    font-family: 'Roboto', sans-serif !important ; 
}
.bio{
  font-size: x-large;
}

/* end profile */
/* about */
.about{
  margin-top: 10vh;
}
/* end about */