:root {
  --martaBlue: #0092D0;
  --martaGold: #FDBE43;
  --martaOrange: #FF7500;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

body{
  font-family: 'Roboto', sans-serif !important ; 
}

h1{
  font-family: 'Vampiro One', cursive !important ;
}

h3{
  font-family: 'Roboto', cursive !important ;
}

.button{
  font-family: 'Roboto', cursive !important ;
}

.blue.button {
  background-color: var(--martaBlue) !important ;
}

/* begin navbar */
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  z-index: 1;
}

.nav-header{
  margin-left: 47.5%;
  margin-top: 1rem;
  padding-left: 0;
}

.nav-btn {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
}

.nav-icon {
  font-size: 1.5rem;
  color: #fff;
}

.nav-links{
  overflow: hidden;
  font-size: 1.25em;
  list-style-type: none;
  padding-left: 0;
}

.nav-links a{
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: #fff;
  transition: var(--mainTransition);
  text-align: center;
}

.blue a:hover{
  color: var(--martaBlue);
  text-shadow: 0 0 5px rgb(50, 50, 50);
}

.gold a:hover{
  color: var(--martaGold);
  text-shadow: 0 0 5px rgb(50, 50, 50);
}

.orange a:hover{
  color: var(--martaOrange);
  text-shadow: 0 0 5px rgb(50, 50, 50);
}
.profile-nav{
  -webkit-animation: colorchange 5s infinite;
  animation: colorchange 5s infinite;
}
@keyframes colorchange {
  0%{
    color: var(--martaBlue);
  }
  25%{
    color: var(--martaGold);
  }
  50%{
    color: var(--martaOrange);
  }
  75%{
    color: var(--martaGold);
  }
  100%{
    color: var(--martaBlue);
  }
}
@-webkit-keyframes colorchange {
  0%{
    color: var(--martaBlue);
  }
  25%{
    color: var(--martaGold);
  }
  50%{
    color: var(--martaOrange);
  }
  75%{
    color: var(--martaGold);
  }
  100%{
    color: var(--martaBlue);
  }
}

.show-nav {
  height: 10px;
}

@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }

  .nav-links a{
    padding: 0;
  }

  .nav-links {
    height: auto;
    display: flex;
    justify-content: space-around;
  }
  .nav-links a {
    margin: 0 1rem;
  }
}

/* end navbar */
/* home */
.pic-info {
  position: absolute;
  top: 80vh;
  left: 5vh;
}

.pic-info h1{
  color: #fff;
  font-size: 50px;
  margin-bottom: 0%;
  text-shadow: 2px 2px 4px #000000;
}

.pic-info h3{
  color: #fff;
  margin-top: 0%;
  text-shadow: 2px 2px 4px #000000;
}
/* end home */
/* error */
.error {
  background-image: url("./images/404.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
/* end error */
/* schedule */
.schedule{
  margin: 10vh auto;
}

.filter{
  margin: 5rem 5rem;
}

.empty-search {
  text-align: center;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
.form-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}
.form-control {
  width: 100%;
  background: transparent;
  font-size: 1rem;
}
.schedule-filter{
  margin-left: 30vh;
  margin-right: 30vh;
}

@media screen and (min-width: 992px) {
  .filter {
    margin: 5rem 9rem;
  }
}
/* end schedule */
/* stations */
.stations{
  margin-top: 10vh;
}
.station-pic {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}
.station-pic:hover {
  box-shadow: var(--darkShadow);
}
.img-container-stations {
  position: relative;
}
.img-container-stations img {
  width: 100%;
  height: 12rem;
  display: block;
  transition: var(--mainTransition);
}
.img-container-stations:hover {
  background: rgba(255, 255, 255, 0.8);
}
.img-container-stations:hover img {
  opacity: 0.3;
}
.img-container-stations h1{
  -webkit-animation: colorchange 5s infinite;
  animation: colorchange 5s infinite;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
  z-index: 1;
}
.img-container-stations:hover .station-text {
  transform: translate(-50%, -50%) scale(1);
}
/* end stations */
/* single station */
.single-station{
  margin: 20vw 5vw 5vw;
}
.sad{
  font-size: 3rem;
}

@media screen and (min-width: 600px) {
  .single-station{
    margin: 10vw 5vw 5vw;
  }
}

@media screen and (min-width: 992px) {
  .single-station{
    margin: 5vw 5vw 5vw;
  }
}
/* end single station */
/* all pics */
.pic {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}
.pic:hover {
  box-shadow: var(--darkShadow);
}
.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  height: 12rem;
  display: block;
  transition: var(--mainTransition);
}

.picslist {
  padding: 5rem 0;
}
.picslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

.pic-form{
  margin: 0rem 5rem 5rem;
}

@media screen and (min-width: 992px) {
  .picslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end all pics */
/* single pic */
.single-pic{
  margin: 15vw 5vw 5vw;
}

.big-pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90vw;
}

.likes{
  display: flex;
}

.likes h3{
  margin-top: 1.5rem;
}

.likes svg{
  margin: 1rem;
  font-size: xx-large;
  color: var(--martaOrange);
}

.pics-heart svg{
  margin: 1rem;
  font-size: xx-large;
  color: var(--martaBlue);
}


@media screen and (min-width: 600px) {
  .single-pic{
    margin: 10vw 5vw 5vw;
  }
}

@media screen and (min-width: 992px) {
  .single-pic{
    margin: 5vw;
  }

  .big-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90vw;
  }
}


/* end single pic */
/* log in */
.log-in{
  margin-top: 10vh;
  margin-left: 10vh;
  margin-right: 10vh;
}
/* end log in */
/* sign up */
/* end sign up */
/* profile */
.profile{
  margin: 10vh;
}
.header{
    font-family: 'Roboto', sans-serif !important ; 
}
.bio{
  font-size: x-large;
}
.user-edit{
  margin-top: 5vh;
}
.danger-box{
	border:5px solid red;
  padding:10px;
  color: red;
  margin: 10vh;
}

#butt{
  margin: 2vh 0% 2vh 50%;
}
.danger-text{
	float:left;
	padding:0 5px;
	margin:-30px 0 0 30px;
	background:#fff;
}
/* end profile */
/* about */
.about{
  margin: 10vh 0;
}

.about-box{
	border:5px solid var(--martaBlue);
  padding:10px;
  margin: 10vh;
}

.about-text{
	float:left;
	padding:0 5px;
	margin:-30px 0 0 30px;
	background:#fff;
}

.stack-box{
	border:5px solid var(--martaGold);
  padding:10px;
  margin: 10vh;
}

.stack-box h4{
  margin: 0px;
}
.stack-box span {
  color: var(--martaGold);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.deka-box{
	border:5px solid var(--martaOrange);
  padding:10px;
  margin: 10vh;
}
/* end about */
/* loading */
.loading-text{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.loading-text h1{
  font-size: 5em;
  -webkit-text-fill-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
}

.loading-text h3{
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 3em;
  letter-spacing: 10px;
  padding-left: 0.5em;
}

.grey{
  display: block;
  background: #eef1f3;
  background-clip: text;
}

.loading {
  display: block;
  height: 100%;
  background-image: linear-gradient(to right, #0092D0, #FDBE43, #FF7500);
  background-clip: text;
  position: relative;
  animation: loader 10s ease forwards;
}

@keyframes loader {

	0% {
		width: 0;
	}

	20% {
		width: 10%;
	}

	25% {
		width: 24%;
	}

	43% {
		width: 41%;
	}

	56% {
		width: 50%;
	}

	66% {
		width: 52%;
	}

	71% {
		width: 60%;
	}

	75% {
		width: 76%;
    
	}

	94% {
		width: 86%;
	}

	100% {
		width: 100%;
	}

}

@media screen and (min-width: 768px) {
  .loading-text h1{
    font-size: 10em;
  }
  
  .loading-text h3{
    font-size: 50px;
  }
}
/* end loading */